useDynLib("spatialTailDep", .registration=TRUE)
import(cubature)
import(mvtnorm)
import(SpatialExtremes)
export(AsymVar)
export(Mestimator)
export(pairCoordinates)
export(selectPairIndices)
export(tailInt)
export(tailIntEmp)

